.App {
  text-align: center;

}

body{
  background: black;
  color: white;
}

.results{
  display: grid;
  grid-template-areas:
  '. title .'
  '. word .'
  'left mic right';
  margin: auto;
  /* border: 2px solid red; */

}

.title{
  grid-area: title;
}
#microphone{
  width: 250px;
  height: 250px;
  margin: auto;
  grid-area: mic;
  /* border: 1px solid red; */
}

.pics{
  width: 400px;
  height: 400px;
  /* border: 1px solid yellow; */
}

.word{
  grid-area: word;
  /* border: 1px solid red; */
}

.left{
  grid-area: left;
  /* border: 1px solid red; */
}

.right{
  grid-area: right;
  /* border: 1px solid red; */
}
